<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">admin</property> <!-- DB User -->
        <property name="connection.password">mysecretpassword</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

<!--        <property name="show_sql">true</property> &lt;!&ndash; Show SQL in console &ndash;&gt;-->
<!--        <property name="format_sql">true</property> &lt;!&ndash; Show SQL formatted &ndash;&gt;-->

        <mapping class="com.authguard.dal.model.AccountDO"/>
        <mapping class="com.authguard.dal.model.CredentialsDO"/>
        <mapping class="com.authguard.dal.model.CredentialsAuditDO"/>
        <mapping class="com.authguard.dal.model.UserIdentifierDO"/>
        <mapping class="com.authguard.dal.model.EmailDO"/>
        <mapping class="com.authguard.dal.model.PasswordDO"/>
        <mapping class="com.authguard.dal.model.AccountTokenDO"/>
        <mapping class="com.authguard.dal.model.AppDO"/>
        <mapping class="com.authguard.dal.model.RoleDO"/>
        <mapping class="com.authguard.dal.model.PermissionDO"/>
        <mapping class="com.authguard.dal.model.ApiKeyDO"/>
        <mapping class="com.authguard.dal.model.SessionDO"/>
        <mapping class="com.authguard.dal.model.OneTimePasswordDO"/>
        <mapping class="com.authguard.dal.model.IdempotentRecordDO"/>
        <mapping class="com.authguard.dal.model.TokenRestrictionsDO"/>

    </session-factory>
</hibernate-configuration>